appdirs==1.4.3
basepage==1.1
behave==1.2.5
decorator==4.0.11
Elements==0.2.0
enum34==1.1.6
lib==2.0.0
packaging==16.8
parse==1.8.0
parse-type==0.3.4
pyparsing==2.2.0
robotframework==3.0.2
robotframework-selenium2library==1.8.0
selenium==3.3.3
six==1.10.0
MySQL-python==1.2.3